{% extends "chat/layout.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block navbar %}{% include "chat/navbar.html" %}{% endblock %}

{% block body %}
<div class="main-section">
    <section id="index-content">
        <h2 class="section-title" id="dm-title">Your direct messages</h2>
        <div id="dm-content"></div>
    </section>
    <section id="search-content">
        <h2 class="section-title" id="search-title"></h2>
        <div id="search-users"></div>
    </section>
</div>
{% endblock %}

{% block script %}
<script src={% static 'chat/search.js' %}></script>
{% endblock %}