@use 'abstracts/variables' as *

html, body
    height: 100%
body
    background-color: $clr-primary-ultra-light
    width: 100%

.main-section
    display: flex
    flex-direction: column
    align-items: center

.section-title
    font-family: $font-title
    font-weight: 700
    color: $clr-primary

/* signup and login */
.login-signup-bg
    position: absolute

.login-signup-section
    position: relative
    height: 100%
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center

.login-signup-content
    margin-bottom: 4em
    padding: 30px
    box-shadow: $box-shadow-card
    border-radius: 1em
    width: 510px
    background-color: $clr-white

.login-signup-title
    color: $clr-primary-dark
    font-family: $font-title
    font-weight: 700

.login-signup-chat-link
    text-decoration: none
    color: $clr-primary

    &:hover
        text-decoration: underline
        color: $clr-primary

    &:focus-visible
        border-radius: 2px
        outline: none
        box-shadow: $box-shadow-input

.horizontal-form-group
    display: flex
    justify-content: space-between

.horizontal-form-item
    width: 48%

.form-label
    padding: 0
    margin-top: 0.7em
    margin-bottom: 0.3em
    font-family: $font-text

.login-signup-input
    background-color: $clr-primary-light
    border: none
    transition: all 100ms ease-in
    font-family: $font-text

    &::placeholder
        font-weight: 300

    &:hover, &:focus
        background-color: $clr-white
        box-shadow: $box-shadow-input

.login-signup-btn
    margin-top: 1.2em
    padding: 0.4em 2.7em
    background-color: $clr-primary
    font-family: $font-text
    font-weight: 700
    font-size: 1em
    border: none

    &:hover, &:focus
        background-color: $clr-primary-dark
        border: none

    &:focus
        box-shadow: $box-shadow-input

.login-signup-message
    margin-top: 0.7em
    font-family: $font-text
    font-size: 1em

    a
        font-family: $font-text
        color: $clr-accent-dark
        transition: margin-left 100ms ease-in-out

        &:hover
            margin-left: 5px

        &:focus-visible
            padding: 3px
            margin-left: 5px
            border-radius: 2px
            outline: none
            box-shadow: $box-shadow-input

.login-signup-error-list
    margin: 0
    padding: 0
    list-style-position: inside

    li
        color: $clr-accent-dark
        font-family: $font-text

/* chat navbar */
.chat-navbar
    display: flex
    align-items: center
    justify-content: center
    column-gap: 5em
    background-color: $clr-primary-dark
    border-bottom: 1em solid $clr-primary-light

.search-form
    display: flex
    align-items: center

.nav-information
    display: flex
    align-items: center

.chat-navbar-logo
    font-family: $font-title
    font-weight: 700
    font-size: 2.2em
    margin: 10px

    a
        text-decoration: none
        color: $clr-primary-light
        transition: all 100ms ease-in
        padding: 0 5px

        &:hover, &:focus
            color: $clr-accent-light
            box-shadow: none
            border: none
            outline: none

#search-input
    background-color: $clr-primary-light
    border-radius: 5px 0 0 5px
    border: none
    width: 300px
    font-family: $font-text
    transition: all 100ms ease-in

    &:hover, &:focus
        background-color: $clr-white
        box-shadow: none

.search-btn
    background-color: $clr-primary
    border-radius: 0 5px 5px 0
    border: none

    &:hover, &:focus
        box-shadow: none
        outline: none
        background-color: $clr-accent-light
        color: $clr-black

    &:disabled
        background-color: $clr-primary
        opacity: 1

.nav-current-user
    margin: 0
    padding: 6px 12px
    color: $clr-primary-dark
    background-color: $clr-primary-light
    border-radius: 5px 0 0 5px
    font-family: $font-text
    cursor: default

.logout-btn
    background-color: $clr-primary
    border: none
    border-radius: 0 5px 5px 0
    font-family: $font-text

    &:hover, &:focus
        box-shadow: none
        background-color: $clr-accent-light
        color: $clr-black

/* landing */

.landing-section
    background-color: $clr-primary-dark
    height: 100%
    display: flex
    align-items: center
    justify-content: center

.landing-content
    display: flex
    flex-direction: column
    align-items: center

.landing-auth
    display: flex
    flex-direction: column
    align-items: center

.landing-title
    color: $clr-white
    text-transform: uppercase
    font-family: $font-title
    font-weight: 700
    font-size: 5em

.landing-login-btn
    background-color: $clr-primary
    color: $clr-primary-light
    font-family: $font-text
    font-weight: 700
    font-size: 1.3em
    padding: 5px 20px
    border-radius: 100px
    transition: all 100ms ease-in
    border: none
    margin-bottom: 1em

    &:hover, &:focus, &:focus-visible
        background-color: $clr-accent

    &:focus
        box-shadow: $box-shadow-input

.landing-signup-paragraph
    color: $clr-primary-light
    font-family: $font-text

    a
        color: $clr-accent-light
        text-decoration: none
        font-family: $font-text
        transition: margin-left 100ms ease-in-out

        &:hover
            margin-left: 5px

        &:focus-visible
            padding: 3px
            margin-left: 5px
            border-radius: 4px
            outline: none
            box-shadow: $box-shadow-input

/* search page */
#search-content
    width: 500px
    margin-top: 3em

.searching-for
    color: $clr-accent-dark

#search-users
    margin-top: 1.7em

.search-user
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    border-bottom: 4px solid $clr-primary-light

.search-username, .search-user-btn
    margin: 20px 10px

.search-username
    font-family: $font-text
    font-size: 1.2em
    font-weight: 400
    color: $clr-primary-dark

.search-user-btn
    background-color: $clr-primary-light
    border: none
    color: $clr-black

    &:hover
        background-color: $clr-accent-light
        color: $clr-black

    &:focus, &:focus-visible
        outline: none
        box-shadow: none

/* chat */
.chat-section
    position: relative
    background-color: $clr-primary-dark
    width: 100vw
    height: 100vh

#chat-content
    background-color: $clr-accent-light
    box-shadow: $box-shadow-card
    border-radius: 20px
    padding: 20px
    width: 50%
    height: 85%
    position: absolute
    left: 50%
    top: 50%
    transform: translateX(-50%) translateY(-50%)

.chat-area
    height: 95%

#chat-title
    color: $clr-primary-dark

.messages-area
    height: 90%
    border-radius: 20px
    padding: 20px
    margin-bottom: 20px
    background-color: $clr-primary-ultra-light
    overflow: auto

#chat-form
    display: flex
    width: 100%

.form-group-chat, .form-item-chat
    width: 100%

#chat-input
    font-family: $font-text
    border-radius: 5px 0 0 5px
    border: none

    &:focus, &:focus-visible
        box-shadow: none
        border: none

.chat-btn
    background-color: $clr-primary-dark
    font-family: $font-text
    border: none
    border-radius: 0 5px 5px 0

    &:hover
        background-color: $clr-primary

    &:disabled
        background-color: $clr-primary-dark
        color: $clr-white
        opacity: 100
        cursor: not-allowed
        pointer-events: auto

.message-container
    display: flex

.current-user-container
    flex-direction: row-reverse

.message-chat
    padding: 10px
    font-family: $font-text
    font-size: 1.2em

.current-user-chat
    border-radius: 100px 100px 0 100px
    background-color: $clr-primary-dark
    color: $clr-primary-ultra-light

.recipient-chat
    border-radius: 100px 100px 100px 0
    background-color: $clr-accent-light
    color: $clr-primary-dark
