@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Ubuntu:wght@300;400;700&display=swap");
/* fonts */
/* colors */    
/* box-shadow */
html, body {
  height: 100%;
}

body {
  background-color: #f6fcff;
  width: 100%;
}

/* signup and login */
.login-signup-bg {
  position: absolute;
}

.login-signup-section {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.login-signup-content {
  margin-bottom: 4em;
  padding: 30px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 1em;
  width: 510px;
  background-color: white;
}

.login-signup-title {
  color: #054161;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
}

.login-signup-chat-link {
  text-decoration: none;
  color: #008cff;
}
.login-signup-chat-link:hover {
  text-decoration: underline;
  color: #008cff;
}
.login-signup-chat-link:focus-visible {
  border-radius: 2px;
  outline: none;
  box-shadow: 0px 0px 0px 5px #DDF0FA;
}

.horizontal-form-group {
  display: flex;
  justify-content: space-between;
}

.horizontal-form-item {
  width: 48%;
}

.form-label {
  padding: 0;
  margin-top: 0.7em;
  margin-bottom: 0.3em;
  font-family: "Ubuntu", sans-serif;
}

.login-signup-input {
  background-color: #DDF0FA;
  border: none;
  transition: all 100ms ease-in;
  font-family: "Ubuntu", sans-serif;
}
.login-signup-input::placeholder {
  font-weight: 300;
}
.login-signup-input:hover, .login-signup-input:focus {
  background-color: white;
  box-shadow: 0px 0px 0px 5px #DDF0FA;
}

.login-signup-btn {
  margin-top: 1.2em;
  padding: 0.4em 2.7em;
  background-color: #008cff;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 1em;
  border: none;
}
.login-signup-btn:hover, .login-signup-btn:focus {
  background-color: #054161;
  border: none;
}
.login-signup-btn:focus {
  box-shadow: 0px 0px 0px 5px #DDF0FA;
}

.login-signup-message {
  margin-top: 0.7em;
  font-family: "Ubuntu", sans-serif;
  font-size: 1em;
}
.login-signup-message a {
  font-family: "Ubuntu", sans-serif;
  color: #B55E5B;
  transition: margin-left 100ms ease-in-out;
}
.login-signup-message a:hover {
  margin-left: 5px;
}
.login-signup-message a:focus-visible {
  padding: 3px;
  margin-left: 5px;
  border-radius: 2px;
  outline: none;
  box-shadow: 0px 0px 0px 5px #DDF0FA;
}

.login-signup-error-list {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}
.login-signup-error-list li {
  color: #B55E5B;
  font-family: "Ubuntu", sans-serif;
}

/* chat navbar */
.chat-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5em;
  background-color: #054161;
  border-bottom: 1em solid #DDF0FA;
}

.search-form {
  display: flex;
  align-items: center;
}

.nav-information {
  display: flex;
  align-items: center;
}

.chat-navbar-logo {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 2.2em;
  margin: 10px;
}
.chat-navbar-logo a {
  text-decoration: none;
  color: #DDF0FA;
  transition: all 100ms ease-in;
  padding: 0 5px;
}
.chat-navbar-logo a:hover, .chat-navbar-logo a:focus {
  color: #EBB6B5;
  box-shadow: none;
  border: none;
  outline: none;
}

#search-input {
  background-color: #DDF0FA;
  border-radius: 5px 0 0 5px;
  border: none;
  width: 300px;
  font-family: "Ubuntu", sans-serif;
  transition: all 100ms ease-in;
}
#search-input:hover, #search-input:focus {
  background-color: white;
  box-shadow: none;
}

.search-btn {
  background-color: #008cff;
  border-radius: 0 5px 5px 0;
  border: none;
}
.search-btn:hover, .search-btn:focus {
  box-shadow: none;
  background-color: #EBB6B5;
  color: black;
}

.nav-current-user {
  margin: 0;
  padding: 6px 12px;
  color: white;
  background-color: #B55E5B;
  border-radius: 5px 0 0 5px;
  font-family: "Ubuntu", sans-serif;
  cursor: default;
}

.logout-btn {
  background-color: #008cff;
  border: none;
  border-radius: 0 5px 5px 0;
  font-family: "Ubuntu", sans-serif;
}
.logout-btn:hover, .logout-btn:focus {
  box-shadow: none;
  background-color: #EBB6B5;
  color: black;
}

/* landing */
.landing-section {
  background-color: #054161;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-auth {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-title {
  color: white;
  text-transform: uppercase;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 5em;
}

.landing-login-btn {
  background-color: #008cff;
  color: #DDF0FA;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 1.3em;
  padding: 5px 20px;
  border-radius: 100px;
  transition: all 100ms ease-in;
  border: none;
  margin-bottom: 1em;
}
.landing-login-btn:hover, .landing-login-btn:focus, .landing-login-btn:focus-visible {
  background-color: #ED9390;
}
.landing-login-btn:focus {
  box-shadow: 0px 0px 0px 5px #DDF0FA;
}

.landing-signup-paragraph {
  color: #DDF0FA;
  font-family: "Ubuntu", sans-serif;
}
.landing-signup-paragraph a {
  color: #EBB6B5;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  transition: margin-left 100ms ease-in-out;
}
.landing-signup-paragraph a:hover {
  margin-left: 5px;
}
.landing-signup-paragraph a:focus-visible {
  padding: 3px;
  margin-left: 5px;
  border-radius: 4px;
  outline: none;
  box-shadow: 0px 0px 0px 5px #DDF0FA;
}

/*# sourceMappingURL=styles.css.map */
